{% extends 'base.html.twig'  %}
{% block title %} PB & Jams | {{ parent() }} {% endblock %}
{% block body %}

<h1>{{ title }}</h1>
    {% for track in tracks %}
        <ul>
            {{ track.song }} - {{ track.artist }}
        </ul>
    {% endfor %}

{% dump (tracks) %}




{% endblock %}